# Database Configuration
DB_HOST=mysql-11bfeac4-hrms-talent-link.d.aivencloud.com
DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASS=YOUR_PASSWORD_HERE
DB_PORT=28277

# ReCAPTCHA
RECAPTCHA_SITE_KEY=6LdobLYrAAAAABPXnbLFCmYrU1Mz7A_0hJCkltyQ
RECAPTCHA_SECRET_KEY=6LdobLYrAAAAAJAFYgyEN4QIyYK20cVLHDqjjsNH

# JWT
JWT_SECRET_KEY=StartLink_JWT_Secret_Key_2024_With_More_Than_32_Characters_For_SecurityHS256
