RewriteEngine On
# RewriteBase eliminado para compatibilidad con el root de Render

# Si piden directamente index.php en la raíz, lo mandamos al src/index.php
RewriteRule ^index\.php$ src/index.php [L]

# Si el archivo o carpeta existe, lo servimos normal
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescritura bonita -> src/index.php?action=...
RewriteRule ^([^/]+)/?$ src/index.php?action=$1 [L,QSA]
